/* Reset */
body, body * { margin: 0; padding: 0; text-align: left; font-weight: normal }
ol, ul { list-style-type: none; }

/* Typography */
body, body * { font-size: 10pt; font-family: arial, verdana, sans-serif; }
textarea { font-family: monospace; }

/* Color */
div.backlog { background-color: rgb(255,50,50);  }
div.started { background-color: yellow;  }
div.done { background-color: limegreen;  }
div.feature.new { background-color: azure; }
textarea { border: thin solid gainsboro; }

/* Layout */
body { min-width: 950px; }
ol.nav li { display: inline; }
textarea { padding: 0.6em; }

div.feature { height: 38%; }

.desc { width: 38%; height: 62%;  }
.desc textarea { width: 100%; height: 80%; margin-bottom: 0.6em; }

.feature { position: relative; height: 24%; }
.feature[class~="filter"] { position: relative; height: 9%; }

.desc, .est, .date, .save, .delete { position: absolute; }
.done { display: block; }

.desc, .est, .date, .save { top: 19%; }
.delete { top: 38%; }

.desc { left: 9%; }
.est {  left: 53%; }
.date { left: 62%; }
.save, .delete { left: 90%; }
