/* Reset */
body, body * { margin: 0; padding: 0; text-align: left; font-weight: normal }
ol, ul { list-style-type: none; }

/* Typography */
body, body * { font-size: 10pt; font-family: arial, helvetica, sans-serif; }
textarea { font-family: courier, monospace;}

/* Color */
.backlog, .feature.new { background-color: azure; border: thin solid red;}
.started { background-color: lemonchiffon;  }
.done { background-color: palegreen;  }
textarea { background-color: white; border: thin outset gray; }
ol#nav { background-color: whitesmoke; }

/* Layout */
body { min-width: 950px; }
ol#nav { padding: 0.6em; }
ol#nav li { display: inline; margin-right: 1.6em; }
