/* Layout */
caption, tr.header { 
   position: fixed;  
   background-color: lemonchiffon;
   width: 100%;
}

table { border-collapse: collapse; }

caption { top: 0; left: 0; }

tr.header {
   top: 1.2em; left: 0;
   padding-top: 25px;
}

tr.subtotal td { padding-top: 6.4em; }
td { vertical-align: top; }
tr td { padding-bottom: 1.6em; }
.demo, .estimate, .status, .owner { width: 12em; }
.feature, .task, .task input[type='text']  { width: 30em; padding-right: 1.6em; }
.demo, .demo * , .estimate, .estimate *, .owner, .owner * { text-align: center; }
.owner input[type='text']{ width: 9.6em; }

/* Header */
a[href='features.html'] { margin-left: 4em; }
.features a[href='features.html'], .tasks a[href='tasks.html'] { color: black; text-decoration: none; }
caption a { margin-right: 1.6em; }
caption a:first-child { margin-right: 0; }

/* Color */
caption, tr.header { background-color: lemonchiffon; }

/* Typography */
body * { font-size: 10pt; font-family: arial, verdana, sans-serif; }

/* Reset */
body, body * { margin: 0; padding: 0; text-align: left; font-weight: normal }
